@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Outfit, sans-serif;
  --font-mono: Geist Mono, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --font-serif: Merriweather, serif;
  --radius: 0rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --letter-spacing: var(--letter-spacing);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

:root {
  --radius: 0rem;
  --background: oklch(0.98 0.01 25.23);
  --foreground: oklch(0.2 0.01 18.05);
  --card: oklch(0.95 0.01 25.23);
  --card-foreground: oklch(0.18 0.01 29.18);
  --popover: oklch(0.94 0.01 25.23);
  --popover-foreground: oklch(0.22 0.01 29.09);
  --primary: oklch(0.55 0.22 27.03);
  --primary-foreground: oklch(0.98 0.01 100.72);
  --secondary: oklch(0.52 0.14 247.51);
  --secondary-foreground: oklch(0.98 0.01 100.72);
  --muted: oklch(0.91 0.01 25.23);
  --muted-foreground: oklch(0.38 0.01 17.71);
  --accent: oklch(0.86 0.04 33.45);
  --accent-foreground: oklch(0.18 0.01 29.18);
  --destructive: oklch(0.56 0.23 29.23);
  --border: oklch(0.84 0.01 25.22);
  --input: oklch(0.8 0.01 25.22);
  --ring: oklch(0.5 0.12 244.86);
  --chart-1: oklch(0.58 0.23 27.06);
  --chart-2: oklch(0.61 0.18 251.95);
  --chart-3: oklch(0.72 0.15 83.5);
  --chart-4: oklch(0.67 0.15 144.89);
  --chart-5: oklch(0.75 0.15 304.74);
  --sidebar: oklch(0.97 0 0);
  --sidebar-foreground: oklch(0.2 0.01 18.05);
  --sidebar-primary: oklch(0.52 0.14 247.51);
  --sidebar-primary-foreground: oklch(0.98 0.01 100.72);
  --sidebar-accent: oklch(0.69 0.14 79.7);
  --sidebar-accent-foreground: oklch(0.2 0.01 18.05);
  --sidebar-border: oklch(0.87 0.01 25.23);
  --sidebar-ring: oklch(0.52 0.14 247.51);
  --font-sans: Outfit, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Geist Mono, monospace;
  --shadow-color: oklch(0 0 0 / 0.01);
  --shadow-opacity: 0.01;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-sm: 0px 1px 3px 0px oklch(0 0 0 / 0.01),
    0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow: 0px 1px 3px 0px oklch(0 0 0 / 0.01),
    0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow-md: 0px 1px 3px 0px oklch(0 0 0 / 0.01),
    0px 2px 4px -1px oklch(0 0 0 / 0.01);
  --shadow-lg: 0px 1px 3px 0px oklch(0 0 0 / 0.01),
    0px 4px 6px -1px oklch(0 0 0 / 0.01);
  --shadow-xl: 0px 1px 3px 0px oklch(0 0 0 / 0.01),
    0px 8px 10px -1px oklch(0 0 0 / 0.01);
  --shadow-2xl: 0px 1px 3px 0px oklch(0 0 0 / 0.03);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.1 0 0);
  --foreground: oklch(0.98 0 0);
  --card: oklch(0.14 0 0);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.12 0 0);
  --popover-foreground: oklch(0.98 0 0);
  --primary: oklch(0.7 0.25 190);
  --primary-foreground: oklch(0.1 0 0);
  --secondary: oklch(0.2 0 0);
  --secondary-foreground: oklch(0.98 0 0);
  --muted: oklch(0.18 0 0);
  --muted-foreground: oklch(0.6 0 0);
  --accent: oklch(0.18 0 0);
  --accent-foreground: oklch(0.95 0.01 25.23);
  --destructive: oklch(0.56 0.23 29.23);
  --border: oklch(0.38 0.01 17.71);
  --input: oklch(0.38 0.01 17.71);
  --ring: oklch(0.49 0.14 250.75);
  --chart-1: oklch(0.64 0.25 26.85);
  --chart-2: oklch(0.66 0.19 250.17);
  --chart-3: oklch(0.78 0.16 87.01);
  --chart-4: oklch(0.68 0.15 144.94);
  --chart-5: oklch(0.75 0.15 304.74);
  --sidebar: oklch(0.14 0.01 33.25);
  --sidebar-foreground: oklch(0.95 0.01 25.23);
  --sidebar-primary: oklch(0.5 0.14 249.16);
  --sidebar-primary-foreground: oklch(0.98 0.01 100.72);
  --sidebar-accent: oklch(0.59 0.12 78.19);
  --sidebar-accent-foreground: oklch(0.95 0.01 25.23);
  --sidebar-border: oklch(0.32 0.01 27.45 / 30%);
  --sidebar-ring: oklch(0.5 0.14 249.16);
  --radius: 0.625rem;
  --shadow-color: oklch(0 0 0 / 0.01);
  --shadow-opacity: 0.01;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --font-sans: "Geist", "Geist Fallback", ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Geist", "Geist Fallback", ui-serif, Georgia, Cambria,
    "Times New Roman", Times, serif;
  --font-mono: "Geist Mono", "Geist Mono Fallback", ui-monospace, SFMono-Regular,
    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --shadow-2xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-sm: 0px 1px 3px 0px oklch(0 0 0 / 0.01),
    0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow: 0px 1px 3px 0px oklch(0 0 0 / 0.01),
    0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow-md: 0px 1px 3px 0px oklch(0 0 0 / 0.01),
    0px 2px 4px -1px oklch(0 0 0 / 0.01);
  --shadow-lg: 0px 1px 3px 0px oklch(0 0 0 / 0.01),
    0px 4px 6px -1px oklch(0 0 0 / 0.01);
  --shadow-xl: 0px 1px 3px 0px oklch(0 0 0 / 0.01),
    0px 8px 10px -1px oklch(0 0 0 / 0.01);
  --shadow-2xl: 0px 1px 3px 0px oklch(0 0 0 / 0.03);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
